/* --------------------FONTS-------------------- */

.fontSpecimen {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* --------------------GLOBAL-------------------- */

body {
    background-color: #393939;
    font-family: "Lexend", sans-serif;
}


/* --------------------THEME SELECTOR-------------------- */

.themeDiv {
    color: #faf7e8;
}

#theme-select {
    font-family: "Lexend", sans-serif;
    background-color: #faf7e8;
}


/* --------------------KANBAN-------------------- */

.kanban {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 10px;
}

.task-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    width: 300px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: inherit;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #065a50;
    color: #faf7e8;
    font-weight: 500;
    font-size: larger;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
}

.task {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    width: inherit;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #065a50;
    color: #faf7e8;
}

label {
    font-weight: bold;
}

.task p {
    text-align: center;
}