/* --------------------GLOBAL FONT AND BACKGROUND COLOR-----------------------------*/

body {
    background-color: #393939;
}

.fontSpecimen {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* --------------------THEMES SELECT BUTTON-----------------------------*/

.themeDiv{
    color: whitesmoke;
}

.themeChoice {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* --------------------KANBAN INTEGRAL-----------------------------*/
.kanban {
    display: flex;
    justify-content: space-evenly;
    grid-auto-rows: auto;
    margin-top: 20px;
}

/* --------------------BLOC DES INTITULES DES ACTIONS-----------------------------*/
.todo {
    border: solid #0c22a3;
    background-color: #0c22a3;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: whitesmoke;
}

.inProgress {
    border: solid #b25e24;
    background-color: #b25e24;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: whitesmoke;
}

.done {
    border: solid #065a50;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #065a50;
    color: whitesmoke;
}

.todoText {
    display: grid;
    place-items: center;
    color: whitesmoke;
}

.inProgressText {
    display: grid;
    place-items: center;
    color: whitesmoke;
}

.doneText {
    display: grid;
    place-items: center;
    color: whitesmoke;
}

/* --------------------BLOC DES ACTIONS DYNAMIQUE-----------------------------*/

.todoList {
    margin-top: 50px;
    border: solid #0c22a3;
    background-color: #0c22a3;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.inProgressList {
    margin-top: 50px;
    border: solid #b25e24;
    background-color: #b25e24;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    display: grid;
    place-items: center;
}

.doneList {
    margin-top: 50px;
    width: 200px;
    height: 100px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    border: solid #065a50;
    background-color: #065a50;
}

.themeClass {

}

.urlClass {
    
}

.descriptionClass {
    
}